[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Mairead Maloney (MaireadMaloney)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mairead Maloney (MaireadMaloney)
	label-Verified = -1..+1 group user/Mairead Maloney (MaireadMaloney)
	push = group user/Mairead Maloney (MaireadMaloney)
	read = group user/Mairead Maloney (MaireadMaloney)
	rebase = group user/Mairead Maloney (MaireadMaloney)
	removeReviewer = group user/Mairead Maloney (MaireadMaloney)
	submit = group user/Mairead Maloney (MaireadMaloney)
[access "refs/heads/*"]
	create = group user/Mairead Maloney (MaireadMaloney)
	push = +force group user/Mairead Maloney (MaireadMaloney)
	pushMerge = group user/Mairead Maloney (MaireadMaloney)
	read = group user/Mairead Maloney (MaireadMaloney)
[access "refs/tags/*"]
	push = group user/Mairead Maloney (MaireadMaloney)
	push = +force group user/Mairead Maloney (MaireadMaloney)
